[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-countries = "*"
django-crispy-forms = "*"
django-select2 = "*"
requests = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.13"
