[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
python-dotenv = "*"
django-countries = "*"
django-crispy-forms = "*"
django-select2 = "*"
pandas = "*"
openpyxl = "*"
zeep = "*"
requests = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.13"
