<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <!-- Zawartość sidebara -->
        {% block sidebar %}
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">
                    <i class="fas fa-chart-line me-2"></i> Dashboard
                </a>
            </li>
            
            <!-- Firmy -->
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name == 'partner' %}active{% endif %}" 
                  href="{% url 'partner:partner_list' %}">
                    <i class="fas fa-building me-2"></i> Firmy
                </a>
            </li>
            
            <!-- Subskrybenci -->
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'subscriber_list' %}active{% endif %}" 
                  href="{% url 'subscribers:subscriber_list' %}">
                    <i class="fas fa-envelope me-2"></i> Subskrybenci
                </a>
            </li>
            
            <!-- Grupy Subskrybentów -->
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'group_list' %}active{% endif %}" 
                  href="{% url 'subscribers:group_list' %}">
                    <i class="fas fa-users me-2"></i> Grupy Subskrybentów
                </a>
            </li>
            
            <!-- Miejsce na dodatkowe elementy sidebar -->
        </ul>
        {% endblock %}
    </div>
</nav>